nose
zope.component[zcml]
pyramid
waitress
chameleon
pyramid_chameleon
pyramid_debugtoolbar
pyramid_zcml
# icc.mvw
#-e git+https://github.com/isu-enterprise/isu.alchemy#egg=isu.alchemy
#-e git+https://github.com/isu-enterprise/isu.gui.gtk#egg=isu.onece
#-e git+https://github.com/isu-enterprise/icc.mvw#egg=icc.mvw
#-e git+https://github.com/isu-enterprise/isu.gui.gtk#egg=isu.gui.gtk
